.decoration {
   list-style: none;
}

.main-img {
    z-index: 0;
    
}
 footer {
    text-align: center;
 }

h5 {
    display: inline-block;
    margin: 1em;
}

h1 {
    font-size: 4.6rem;
    padding-bottom: 5px;
}

h2 {
    font-size: 2.6rem;
    font-weight: 100;
    padding-bottom: 5px;
}

h4 {
    font-size: 1rem;
    font-weight: 100;
    padding-bottom: 10px;
}

.line {
    border-left: 1px solid black;
    height: 45px;
}

.apply {
    border-radius: 3em;
    border: 1px solid black;
    background-color: #ffe37d;
    padding: 1em;
    
}

.apply:hover {
    background-color: #f3c94a;
}

.loan {
    border-radius: 3em;
    border: none;
    background-color: #134f82;
    padding: 0.5em;
    width: 30%;
}

.loan:hover {
    background-color: #007bff;
}

.pay {
    padding-top: 1em;
    color: #134f82;
    font-weight: 600;
    font-size: 50px;

}

.for {
    color: #0092d1;
    font-weight: 600;
    font-size: 50px;

}

.end-message {
    font-weight: 350;
}